<%= params %>
<%= @booking.passengers.each { |s| s} %>

<%= form_with model: @booking do |form| %>
    <%= form.hidden_field :flight_id, value: params[:flight] %>
    <h2>pasenger detaileds:</h2>
    <%= form.fields_for :passengers do |passengers_form| %>
        <%= passengers_form.text_field :email, value: "email" %>
        <%= passengers_form.text_field :name, value: "name" %>
    <% end %>
    <%= form.submit %>
<% end %>