<h1>Flight summary</h1>
<%= render "flights/flight", flight: Flight.find(params[:flight]) %>

<%= form_with model: @booking do |form| %>
    <%= form.hidden_field :flight_id, value: params[:flight] %>
    <h2>Passenger details:</h2>
    <%= form.fields_for :passengers do |passengers_form| %>
        <div class="passenger-form mb-3">
            <%= passengers_form.label :email %>
            <%= passengers_form.email_field :email, value: "Email", class:"form-control" %>
            <%= passengers_form.label :name %>
            <%= passengers_form.text_field :name, value: "Name", class:"form-control" %>
            <hr>
        </div>
    <% end %>
    <div class="form-actions text-center">
        <%= form.button "Arrange trip", class:"btn btn-primary", type:"submit" %>
    </div>
<% end %>